.login-container {
  background: url('../../../assets/img/Login page_v2.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;

  .login-card {
    position: relative;
    width: 520px;
    height: 650px;
    // width: 450px;
    padding: 2rem;
    text-align: center;
    border-radius: 20px;

    /* Glassmorphism style */
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

    .client-logo-container {
      position: absolute;
      top: -115px;
      /* Pull logo above card */
      left: 50%;
      transform: translateX(-50%);
      width: 220px;
      /* Logo size */
      height: 220px;
      border-radius: 50%;
      /* Make it circle */
      overflow: hidden;
      border: 4px solid #fff;
      /* Optional: white border to blend with card */
      background-color: #fff;
      /* Background for transparency */
      z-index: 2; // keep it on top

      .logo {
        // width: 100%;
        // height: 100%;
        padding: 0px 0px;
        display: flex;
        justify-content: center;
        object-fit: cover;
        width: 210px;
        height: 175px;
        /* Ensure it covers circle properly */
      }
    }

    .exl-img-container {
      position: relative;
      z-index: 1; // below the client logo
      margin-top: 85px;
      display: flex;
      justify-content: center;

      .logo {
        width: 100px;
        height: auto;
        margin-bottom: 1.5rem;
      }
    }

    .p-card {
      border-radius: 8px;
      text-align: center;

      .p-input-icon-left {
        width: 100%;

        input {
          width: 100%;
          padding-left: 2rem;
        }

        i {
          color: #666;
        }
      }

      .hint {
        font-size: 0.75rem;
        color: #999;
        display: block;
        margin-top: 0.25rem;
        text-align: left;
      }

      button {
        width: 100%;
      }
    }

    form {
      .p-field {
        font-family: 'Lato Regular';
        margin-bottom: 20px;
        margin-top: 10px;
        .icon-input-container {
          position: relative;
          display: inline-block;
          // margin-bottom: 0.2rem;

          .password-icon {
            position: absolute;
            color: black;
            padding: 12px;
          }

          .large-input {
            padding-left: 2.5rem; // space for prefix icon
            padding-right: 2.5rem; // space for suffix icon
            height: 2.5rem; // adjust height as needed
            font-size: 16px;
            font-family: 'Lato Regular';
            width: 320px;
          }
          .p-inputtext:enabled:focus {
            border-color: #f15a24;
          }
          .spinner-icon {
            position: absolute;
            color: black;
            margin-left: -30px;
            padding: 10px 0px;
          }
        }
        .valid-password {
          margin-bottom: 10px;
          color: #f15a24;
          opacity: 80%;
        }
        .valid-email {
          margin-bottom: 10px;
          color: #f15a24;
          opacity: 80%;
        }
      }

      .options {
        font-size: 16px;
        color: #1a1b1f;
        display: flex;
        justify-content: flex-end;
        margin: 1rem 2.5rem;
        font-family: 'Lato Regular';
        .forgot-link {
          color: #1a1b1f;
          font-size: 16px;
          text-decoration: none;
          font-family: 'Lato Regular';
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .login-btn,
      .sso-btn {
        width: 320px;
        height: 52px;
        // margin-top: 1rem;
        background-color: #f15a24;
        color: #fff;
        font-weight: bold;
        border-radius: 30px;
        border: 0px;
        font-family: 'Lato Regular';
        font-weight: 500;
        font-size: 16px;
      }

      .divider {
        text-align: center;
        font-weight: bold;
        font-family: 'Lato Bold';
        font-size: 16px;
        margin: 0.5rem 2.5rem;
        color: #1a1b1f;
        .cust_divider {
          width: 130px;
          border: #1a1b1f 1px solid;
          height: 0;
          margin: 10px;
        }
      }

      .signup {
        margin: 1.5rem 2.5rem;
        font-size: 16px;
        text-decoration: none;
        color: #1a1b1f;
        font-family: 'Lato Italic';
        .signup-link {
          color: #f15a24;
          text-decoration: none;
          border: 0px;
          font-weight: 500;
          font-family: 'Lato Regular';
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

::ng-deep .p-checkbox-checked .p-checkbox-box {
  border-color: #f15a24 !important;
  background: #f15a24 !important;
}
