
/* Font Face */
@font-face {
  font-family: 'Lato Regular';
  src: url('../assets/font/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lato Italic';
  src: url('../assets/font/Lato/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lato Bold Italic';
  src: url('../assets/font/Lato/Lato-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lato Bold';
  src: url('../assets/font/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Font Face */
@font-face {
  font-family: 'Roboto Regular';
  src: url('../assets/font/Roboto/static/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto Italic';
  src: url('../assets/font/Roboto/static/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto Bold Italic';
  src: url('../assets/font/Roboto/static/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../assets/font/Roboto/static/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto SemiBold';
  src: url('../assets/font/Roboto/static/Roboto-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
