
/* Font Face */
@font-face {
  font-family: 'Lato Regular';
  src: url('../assets/font/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lato Italic';
  src: url('../assets/font/Lato/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lato Bold';
  src: url('../assets/font/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
