<div class="dashboard-container">
  <!-- Top Bar -->
  <app-topbar></app-topbar>

  <!-- Breadcrumb -->
  <div class="flex align-content-center flex-wrap bg-white border-b border-gray-300">
    <div class="flex-none flex align-items-center justify-content-center border-right">
      <app-profile-details></app-profile-details>

    </div>
    <div class="flex-grow-1 flex align-items-start justify-content-start w-auto">
      <app-breadcrumb></app-breadcrumb>
    </div>
  </div>
  <!-- <div class="flex overflow-hidden bg-white border-b border-gray-300 custome-height "> -->
    <!-- <div class="flex-grow-1 flex-shrink-1 flex align-items-center justify-content-center border-right">
      <app-sidemenu></app-sidemenu>
    </div> -->
    <!-- <div class="flex-shrink-0 flex align-items-center justify-content-center w-auto  main-bg-color"> -->
      <!-- Sections -->
      <div class="dashboard-content main-bg-color">
        <router-outlet></router-outlet>
      </div>
    <!-- </div> -->
  <!-- </div> -->


</div>
