<!-- <div class="breadcrumb p-2 text-sm text-gray-600">
  <span>Link 1 > Link 2</span>
</div> -->


<!-- breadcrumb.component.html -->
<nav *ngIf="breadcrumbs.length" class="breadcrumb p-2 text-sm text-gray-600 bg-white border-b border-gray-300">

  <ng-container *ngFor="let crumb of breadcrumbs; let last = last">
    <a [routerLink]="crumb.url" *ngIf="!last">{{ crumb.label }}</a>
    <span *ngIf="!last"> &gt; </span>
    <span *ngIf="last" class="font-semibold">{{ crumb.label }}</span>
  </ng-container>
</nav>
